body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    z-index: -1;
    background:#e7f4ff;

}

.bg{
    position: absolute;
    width: 80%;
    height: 400px;
    background: #6DABE2;
    border-radius: 40px;
    left: 9%;
    top: 10%;
    z-index: 5;

}

.center{
    position: absolute;
    width: 1000px;
    height: 400px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -45%);
    display: flex;
    z-index: 6;
    padding-left: 5px;
}
.card{
    width: 300px;
    height: 450px;
    background: white;
    margin: 20px 10px 0px 60px;
    border-radius: 20px;
    content: auto;
    clear: both;
    z-index:7;
}
.wish{
    position: relative;
    width: 10%;
    margin: 20px;

}
.grad{
    width: 250px;
    height: 350px;
    margin: 10px 0px 0px 20px;
    background-color: #ffffff;
    /*background: radial-gradient(rgb(255, 236, 181) 20px, rgb(255, 255, 255) 80%);*/

}
.product{
    position: relative;
    width: 240px;
    height: 200px;
    left: 16%;

}
img{
    width: 150px;
}
.product-name{
    position: relative;
    margin: 50px 0px 0px 10px;
    font-size: 20px;
}
.product-price{
    position: relative;
    font-size: 18px;
    margin:5px 0px 0px 10px;

}
.product-description{
    position: relative;
    font-size: 10px;
    margin: 10px 20px 0px 10px;
    color: rgb(166, 166, 166);
    
    
}



/*
    HRX.com
    Be Thread
    easygo
    His&Her Store
*/

/*



men - Shirts,Pants,Shoes,watches (Kartik)

women  - Tops, Kurtis,Sarees , Shoes , Jeans (purna)

nav bar - Hemanth

add scroll indicator


*/
